<div>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#url" data-toggle="tab" translate>Server URL</a></li>
        <li><a href="#other" data-toggle="tab" translate>Other</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="url">
            <div class="control-group">
                <label class="control-label" for="inputEmail">URL</label>
                <div class="input-prepend input-append" style="width:85%">
                    <div class="add-on">https://</div>
                    <input type="text" class="form-control" id="URL" placeholder="URL" ng-model="settings.url" style="width:85%">
                    <div ng-click="checkUrl()" class="add-on" ng-class="{'label-success': state=='valid', 'label-danger': state=='invalid'}">
                        <span ng-show="state=='changing'"><i class="icon-cog"></i></span>
                        <span ng-show="state=='checking'"><i class="icon-cog icon-spin"></i></span>
                        <span ng-show="state=='invalid'"><i class="icon-thumbs-down text-error"></i></span>
                        <span ng-show="state=='valid'"><i class="icon-thumbs-up text-success"></i></span>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="text-center">
                    <div>
                        - or - 
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button ng-click="scan()" class="btn btn-info" type="button">Scan QR Code</button>
            </div>
            <div class="form-actions">
                <button ng-click="saveUrl()" class="btn btn-success" ng-if="state=='valid'">Save</button>
                <button ng-click="clearUrl()" class="btn btn-warn">Clear</button>
            </div>
        </div>
        <div class="tab-pane" id="other">
            <div class="control-group">
                <label class="checkbox">
  					<input type="checkbox" ng-model="settings.showDebugConsole">Show Debug Console
				</label>
            </div>
        </div>
    </div>
</div>
