﻿<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: file: cdvfile: http: https: filesystem:; style-src 'self' 'unsafe-inline' http: https: file: cdvfile: filesystem:; script-src 'self' 'unsafe-inline' 'unsafe-eval' http: https: file: cdvfile: filesystem:; media-src *; connect-src 'self' http: https:"/>

        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <link rel="stylesheet" type="text/css" href="css/Bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="css/Bootstrap-responsive.css" />
        <link rel="stylesheet" type="text/css" href="css/angular-snap.css" />
        <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
        <link rel="stylesheet" href="bower_components/angular-keypad/dist/angular-keypad.css">

        <style>
            [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
                display: none !important;
            }

 @-webkit-keyframes ble_receive {
    0% { color: #00ff00; }
    20% { color: #00ff00; }
    100% { color: black; }
}
@-moz-keyframes ble_receive {
    0% { color: #00ff00; }
    20% { color: #00ff00; }
    100% { color: black; }
}
@-ms-keyframes ble_receive {
    0% { color: #00ff00; }
    20% { color: #00ff00; }
    100% { color: black; }
}
@-o-keyframes ble_receive {
    0% { color: #00ff00; }
    20% { color: #00ff00; }
    100% { color: black; }
}
@keyframes ble_receive {
    0% { color: #00ff00; }
    20% { color: #00ff00; }
    100% { color: black; }
}

.ble_receive {
    -webkit-animation: ble_receive 1s;
    -moz-animation: ble_receive 1s;
    -ms-animation: ble_receive 1s;
    -o-animation: ble_receive 1s;
    animation: ble_receive 1s;
}
        </style>
        <title>Virtual Manager</title>
        
    </head>    
    <body class="dashboard" ng-cloak ng-controller="dashboardController">
        <auto-logout-panel></auto-logout-panel>
        <snap-drawer id="snapdrawerwrapper">
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                </div>
            </div>
            <ul class="nav nav-list">
                <li class="nav-header">General</li>
                <li ng-click="refresh()" snap-toggle><a href="#">Refresh</a></li>
                <li class="nav-header">Session</li>
                <li ng-click="logout()" snap-toggle><a href="#">Logout</a></li>
            </ul>
            <div ng-controller="beaconListener">                
                <li class="nav-header" ng-if="scanning">Beacon Scan
                    <span class="label">{{ beacons.length }}</span>
                    <i class="icon-circle ble_flasher" style="color: black"></i>
                </li>
                <div ng-if="false">
                    <ul class="nav nav-pills">
                        <li ng-class="{ active: scanning }" ng-click="startScanning()">
                            <a href="#">On</a>
                        </li>
                        <li ng-class="{ active: !scanning }" ng-click="stopScanning()">
                            <a href="#">Off</a>
                        </li>
                    </ul>
                    <div ng-repeat="beacon in beacons">
                        {{ beacon.beaconId }} E {{ beacon.estimatedDistance }}m A {{ beacon.averageDistance }}m {{ beacon.battery }}V {{ beacon.barometricPressure }}hPa {{ beacon.temperature }}c
                    </div>
                </div>
            </div>
            <div ng-controller="dashboardListener">
                <ul class="nav nav-list" ng-if="dashboards.length > 1">
                    <li class="nav-header">Dashboards</li>
                    <li ng-repeat="db in dashboards" snap-toggle ng-class="{ active: $first }">
                        <a title="#{{db.PlayerModel.ChecklistDescription}}" href="#{{db.PlayerModel.WorkingDocumentId}}" data-tabid="{{db.PlayerModel.WorkingDocumentId}}" data-toggle="tab">{{db.PlayerModel.ChecklistName}}</a>
                    </li>
                </ul>
            </div>
            <ul class="nav nav-list">
                <hr/>
                <div>
                    <span style="font-size:small" class="muted">
                        V{{ appVersion.versionNumber }} / {{ appVersion.webAppVersion }}
                    </span>
                </div>
                <div>
                    <span style="font-size:small" class="muted">
                        UUID {{ appDevice.uuid }}
                    </span>
                </div>
            </ul>
        </snap-drawer>

        <div class="content body" id="snapcontentwrapper" snap-opt-touch-to-drag="false">
            <snap-content id="snapcontentwrapper" snap-opt-touch-to-drag="false">
                <div class="navbar navbar-fixed-top" id="snapcontentmirror">
                    <div class="navbar-inner">
                        <div class="container">
                            <span style="background: white; border-radius: 5px; padding: 15px 5px;">
                                <img src="img/virtualmanager-logo.png" style="height:50px"/>
                            </span>
                            <a class="btn btn-navbar" style="display:block;" snap-toggle="left" data-target=".nav-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="container body" ui-view></div>      

                <div class="row-fluid" ng-if="settings.showDebugConsole">
                    <div class="span12">
                        <log-viewer></log-viewer>
                    </div>
                </div>
            </snap-content>            
        </div>
        
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>
        <script type="text/javascript" src="js/Bootstrap.js"></script>
        <script type="text/javascript" src="js/Angular.js"></script>
        <script type="text/javascript" src="js/Angular-ui-router.js"></script>
        <script type="text/javascript" src="js/Angular-ocLazyLoad.js"></script>
        <script type="text/javascript" src="js/Angular-console-logger.js"></script>
        <script type="text/javascript" src="js/Snap.js"></script>
        <script type="text/javascript" src="js/Angular-snap.js"></script>
        <script type="text/javascript" src="js/angular-uuid.js"></script>  
        <script type="text/javascript" src="js/sugar.js"></script>  
        <script src="bower_components/angular-keypad/dist/angular-keypad.js"></script>

        <script type="text/javascript" src="js/persistantStorage.js"></script>
        <script type="text/javascript" src="js/httpDaemon.js"></script>
        <script type="text/javascript" src="js/dashboard.js"></script>
        <script type="text/javascript" src="js/vmngUtils.js"></script>
        <script type="text/javascript" src="js/vmApp.js"></script>
        <script type="text/javascript" src="js/beacon.js"></script>
        
        <div id="htmlTemplates">
        </div>

        <script type="text/javascript">
            dashboardApp.initialize();
        </script>            

    </body>
</html>