﻿<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html lang="en">
    <head>
        <meta http-equiv="Content-Security-Policy" content="* * 'self' default-src 'unsafe-inline' 'unsafe-eval' http://* https://* data: cdvfile://* content://*;"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <link rel="stylesheet" type="text/css" href="css/Bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="css/Bootstrap-responsive.css" />
        <link rel="stylesheet" type="text/css" href="css/angular-snap.css" />
        <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
        <link rel="stylesheet" href="bower_components/angular-keypad/dist/angular-keypad.css">
        <style>
    		[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        		display: none !important;
    		}
            .login-numberpad .bc-keypad__key-button--submit:before {
                content: 'Login'
            }
            .login-numberpad .bc-keypad__key-button--submit > ng-include {
                visibility: hidden;
            }
		</style>
        <title>Virtual Manager</title>
    </head> 
    
    
    <body ng-cloak ng-controller="loaderController" class="ng-cloak" style="overflow: hidden">
        <snap-drawer id="snapdrawerwrapper">
            <div class="navbar navbar-fixed-top" style="margin-left:0px; margin-right:0px">
                <div class="navbar-inner">
                </div>
            </div>
            <ul class="nav nav-list">
                <li class="nav-header">General</li>
                <li ng-click="gotoSettings()" snap-toggle><a href="#">Settings</a></li>
                <li ng-click="exitKioskMode()" snap-toggle ng-if="inKioskMode"><a href="#">Exit Kiosk</a></li>
                <hr>
                <div>
                    <small class="muted">
                        V{{ appVersion.versionNumber }} 
                    </small>
                </div>
                <div>
                    <small class="muted">
                        UUID {{ appDevice.uuid }}
                    </small>
                </div>
            </ul>           
        </snap-drawer>
        <snap-content id="snapcontentwrapper" snap-opt-touch-to-drag="false">
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
            			<span style="background: white; border-radius: 5px; padding: 15px 5px;">
                			<img src="img/virtualmanager-logo.png" style="height:50px"/>
            			</span>
                        <a class="btn btn-navbar" style="display:block;" snap-toggle="left" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row-fluid">
                    <div class="span12">
                        <div ng-if="state == 'url'">
                            <settings-url ng-model="settings"></settings-url>
                        </div>
                        <form class="form-horizontal" ng-if="state == 'login'">
                            <fieldset>
                                <legend>Login
                                    <div ng-if="allowNumberPadLogin" class="btn btn-info pull-right" ng-click="toggleNumberpad()">
                                        <i ng-class="['icon-check-empty', 'icon-check'][showNumberpad ? 1 : 0]"></i> Number pad
                                    </div>
                                </legend>
                                <div ng-if='!showNumberpad'>
                                    <div class="control-group">
                                        <label class="control-label" for="inputUsername">Username</label>
                                        <div class="controls">
                                        <input type="text" id="inputUsername" ng-model="login.username" placeholder="Username">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="inputPassword">Password</label>
                                        <div class="controls">
                                        <input type="password" ng-model="login.password" id="inputPassword" placeholder="Password">
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <button ng-click="loginNow(login.username, login.password)" class="btn btn-success" style="width:100px">Login</button>
                                    </div>
                                    <div class="text-error" ng-if="login.failed">
                                        Login attempt failed, please verify your details.
                                    </div>                            
                                    <span ng-click="showUrl()" ng-if="!_showUrl">
                                        <i class='icon-question'></i>
                                    </span>
                                    <p class="muted" ng-if='_showUrl'>
                                        {{settings.fullUrl}}
                                    </p>
                                </div>
                                <div ng-if="showNumberpad">
                                    <div class="control-group">
                                        <label class="control-label" for="inputUsername">User number</label>
                                        <div class="controls">
	                                    <input type="password" class="cen" data-ng-model="login.usernumber">
                                        </div>
                                    </div>
                                    <div class="well login-numberpad">
                                        <bc-keypad bc-number-model="login.usernumber"
                                            bc-left-button="backspace"
                                            bc-right-button="submit"
                                            bc-right-button-method="loginNow(login.usernumber, login.usernumber)">
                                        </bc-keypad>
                                    </div>
                                    <div class="text-error" ng-if="login.failed">
                                        Login attempt failed, please verify your details.
                                    </div>                            
                                </div>
                            </fieldset>
                        </form>
                        <div ng-if="state == 'checkresources'">
                            Loading ...
                            <div ng-repeat="m in resourceMessages">
                                {{m}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid" ng-if="settings.showDebugConsole">
                    <div class="span12">
                        <log-viewer></log-viewer>
                    </div>
                </div>
            </div>
        </snap-content>
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>
        <script type="text/javascript" src="js/Bootstrap.js"></script>
        <script type="text/javascript" src="js/Angular.js"></script>
        <script type="text/javascript" src="js/Angular-ui-router.js"></script>
        <script type="text/javascript" src="js/Angular-ocLazyLoad.js"></script>
        <script type="text/javascript" src="js/Angular-console-logger.js"></script>
        <script type="text/javascript" src="js/Snap.js"></script>
        <script type="text/javascript" src="js/Angular-snap.js"></script>
        <script type="text/javascript" src="js/angular-uuid.js"></script>  
        <script type="text/javascript" src="js/sugar.js"></script>  
        <script src="bower_components/angular-keypad/dist/angular-keypad.js"></script>

        <script type="text/javascript" src="js/httpDaemon.js"></script>
        <script type="text/javascript" src="js/persistantStorage.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript" src="js/vmngUtils.js"></script>
        <script type="text/javascript" src="js/vmApp.js"></script>
        <script type="text/javascript" src="js/beacon.js"></script>
        <script type="text/javascript">
            indexApp.initialize();
        </script>
    </body>
</html>
