<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <link rel="stylesheet" type="text/css" href="css/Bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="css/Bootstrap-responsive.css" />
        <link rel="stylesheet" type="text/css" href="css/angular-snap.css" />
        <title>Virtual Manager</title>
    </head>
    <body ng-cloak ng-controller="settingsController" style="padding:0px 20px 0px 20px;">
        <snap-drawer id="snapdrawerwrapper">
            <img src="img/virtualmanager-logo.png" />
			<ul class="nav nav-list">
                <li class="nav-header">General</li>
                <li ng-click="gotoSettings()"><a href="#">Settings</a></li>
                <li ng-click="logout()"><a href="#">Logout</a></li>
                <li class="nav-header">Development</li>
                <li ng-click="toggleConsole()"><a href="#">Console</a></li>
             </ul>
        </snap-drawer>
        <snap-content id="snapcontentwrapper" snap-opt-touch-to-drag="false">
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="btn btn-navbar" style="display:block;" snap-toggle="left" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="container">
                <h3>
                    Settings
                </h3>
                <div class="row-fluid">
                    <div class="span12">
                        <form class="form-horizontal">
                            <fieldset>
                                <legend>Server URL</legend>
                                <settings-url ng-model="settings.url"></settings-url>
                                <div class="form-actions">
                                    <button ng-click="saveUrl()" class="btn btn-success">Save</button>
                                </div>
                            </fieldset>
                        </form>                
                    </div>
                </div>
                <div class="row-fluid" ng-if="showConsole">
                    <div class="span12">
                        <log-viewer></log-viewer>
                    </div>
                </div>
            </div>
        </snap-content>

        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>
        <script type="text/javascript" src="js/Angular.js"></script>
        <script type="text/javascript" src="js/Angular-ui-router.js"></script>
        <script type="text/javascript" src="js/Angular-ocLazyLoad.js"></script>
        <script type="text/javascript" src="js/Angular-console-logger.js"></script>
        <script type="text/javascript" src="js/Snap.js"></script>
        <script type="text/javascript" src="js/Angular-snap.js"></script>
        <script type="text/javascript" src="js/settings.js"></script>
        <script type="text/javascript" src="js/temperatureModule.js"></script>
        <script type="text/javascript" src="js/vmApp.js"></script>
        <script type="text/javascript">
            settingsApp.initialize();
        </script>
    </body>
</html>